@media (min-width: 1365px) and (max-width: 1599px) {
    .facet_sidebar{
        display: none;
    }

    header {
        .molti-header-9-10 {
            .line-menu {
                .icons-header{
                    width: 60% !important;
                    .et_pb_search_0_tb_header {
                        width: 96%!important;
                    }
                }
            }
        }
    }
}
