.menu-sidebar{
    .item{
        margin: 0 !important;
        padding: 12px 0 5px 15px;
        .et_pb_blurb_container{
            padding-left: 5px !important;
        }
        h4{
            color: #FFF;
        }
    }
}